/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #777;
    font: 400 16px "Lato", sans-serif;
    line-height: 1.7;
    padding: 30px;
}

.header {
    background: top cover;
    background-image: linear-gradient(
        to right bottom, 
        rgba(126,213,111,.8),
        rgba(40,180, 131, .8)
    ),
    url("../img/hero.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* top left, top right, bottom right, bottom left (50% 0, 100% 100%, 0 100%) for a triangle */
    height: 95vh;
    position: relative;
}

.logo-box {
    left: 40px;
    position: absolute;
    top: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-47%, -50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
}