/*  Clear Floats  */
/*  Colors  */
/*  Font  */
/*  Grid  */
/*  @keyframes Animations  */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*  Global Styles  */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

/*  Default Type Settings  */
body {
  color: #777;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

/*  Primary Heading  */
.heading-primary {
  backface-visibility: hidden;
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    animation: moveInLeft 0.7s ease-out;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    animation: moveInRight 0.7s ease-out;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem; }

/*  Secondary Heading */
.heading-secondary {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  transition: all .2s; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1); }

/*  Tertiary Heading  */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

/*  General Copy  */
.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/*  Center Text  */
.u-center-text {
  text-align: center; }

/*  Margins  */
.u-margin-bottom-small {
  margin-bottom: 1.25rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

/*  White Button  */
.btn:link, .btn:visited {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem); }

.btn::after {
  border-radius: 10rem;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1; }

.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6); }

.btn--animated {
  animation: moveInUp 0.3s ease-in 0.2s backwards; }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--white::after {
  background-color: #fff; }

/*  Green Button  */
.btn-text:link, .btn-text:visited {
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  display: inline-block;
  font-size: 1.6rem;
  padding: .3rem;
  text-decoration: none;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  color: #fff;
  -webkit-transform: translateY(-0.2rem);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
  transform: translateY(0); }

/*  Photo Selector  */
.composition {
  position: relative; }
  .composition__photo {
    border-radius: .2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    outline-offset: 2rem;
    position: absolute;
    transition: all .2s;
    width: 55%; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid #55c57a;
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      z-index: 2; }
  .composition:hover .composition__photo:not(:hover) {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }

/*  Float Grid  */
.row {
  margin: 0 auto;
  max-width: 114rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (6rem * 2)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (6rem * 3)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (6rem * 3)) / 4) + (2 * 6rem)); }

/*  Header  */
.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* top left, top right, bottom right, bottom left | (50% 0, 100% 100%, 0 100%) for a triangle */
  height: 95vh;
  position: relative; }
  .header__logo-box {
    left: 4rem;
    position: absolute;
    top: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translate(-47%, -50%); }

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 0; }
